.idea/
.DS_Store
messages/.idea/
scheduler/.idea/
messages/env/
scheduler/venv/
messages/app/__pycache__/
scheduler/app/__pycache__/
data_layer/.idea/
data_layer/scheduler/
data_layer/env/
data_layer/__pycache__/
data_layer/app/__pycache__/
data_layer/app/schema/__pycache__/
data_layer/app/views/__pycache__/
process_centric/app/__pycache__/
process_centric/app/views/__pycache__/
process_centric/env/